# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
crash.log

# Logs
*.log

# Node
node_modules/

# OS
.DS_Store

# Secrets
.env
*.pem
*.key

# Docker
*.tar

# IDE
.vscode/
.idea/
